<%= render :partial => "/account/setup_module/inventory_setup/partials/container_header" %>
<div class="container">
<h2>Edit Unit</h2>

<%= render 'form' %>

</div>
<%= render :partial => "/account/setup_module/inventory_setup/partials/container_footer" %>