<%= render :partial => "/account/setup_module/sales_setup/partials/container_header" %>
<div class="container">
<h2>Edit Category</h2>

<%= render 'form' %>
</div>
<%= render :partial => "/account/setup_module/sales_setup/partials/container_footer" %>