<%= render :partial => "/account/setup_module/organization_setup/partials/container_header" %>
<div class="container">
<h2>Edit Company</h2>

<%= render 'form' %>
</div>
<%= render :partial => "/account/setup_module/organization_setup/partials/container_footer" %>