<%= render :partial => "/account/inventory_module/partials/container_header" %>
<div class="container">
<h2>Edit Branch</h2>
<%= render 'form' %>
</div>
<%= render :partial => "/account/inventory_module/partials/container_footer" %>